<h1>Ejemplos de Componentes de Angular Material</h1>
<hr>

<h2>Botones (Toggle)</h2>
<app-button-toggle-appearance-example></app-button-toggle-appearance-example>
<hr>

<h2>Campo de Formulario (Prefijo y Sufijo)</h2>
<app-form-field-prefix-suffix-example></app-form-field-prefix-suffix-example>
<hr>

<h2>Iconos</h2>
<app-icon-overview-example></app-icon-overview-example>
<hr>

<h2>Autocompletado</h2>
<app-mat-autocomplete></app-mat-autocomplete>

<app-card-footer></app-card-footer>

<app-chips-avatar></app-chips-avatar>

<app-datepicker-date-class></app-datepicker-date-class>

<app-datepicker-inline-calendar></app-datepicker-inline-calendar>

<app-tab-group-align></app-tab-group-align>

<app-toolbar-overview></app-toolbar-overview>

<app-menu-position></app-menu-position>

<app-expansion-expand-collapse-all></app-expansion-expand-collapse-all>

<app-table-basic></app-table-basic>

<app-snack-bar-position></app-snack-bar-position>

<app-progress-spinner-overview></app-progress-spinner-overview>